BODY
{
    BACKGROUND: #ffffff;
    MARGIN: 0px;
    COLOR: #000;
    TEXT-ALIGN: left
}
acronym, abbr {
    border-bottom: 1px dotted #222;
    cursor: help;
    word-spacing: -0.3em;
}
.clear
{
    CLEAR: both
}
A
{
    TEXT-DECORATION: underline
}

A:link
{
    COLOR: #0000D0;
}
A:visited
{
    COLOR: #900000;
}
A.img
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px
}
H1
{
    PADDING-RIGHT: 5px;
    BORDER-TOP: #c4c4c4 1px solid;
    PADDING-LEFT: 5px;
   
    PADDING-BOTTOM: 5px;

    COLOR: #000;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #c4c4c4 1px solid
}

H2.pagetitle
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    COLOR: #fff;
    PADDING-TOP: 5px;
}
h2, h3
{
    PADDING-RIGHT: 5px;
    BORDER-TOP: #c4c4c4 1px solid;
    PADDING-LEFT: 5px;
    
    PADDING-BOTTOM: 5px;
    COLOR: #00b1ea;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #c4c4c4 1px solid
}
H4
{
    PADDING-RIGHT: 5px;
    BORDER-TOP: #c4c4c4 1px solid;
    PADDING-LEFT: 5px;
   
    PADDING-BOTTOM: 5px;

    COLOR: #000;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #c4c4c4 1px solid
}
H5
{
    PADDING-RIGHT: 5px;
    BORDER-TOP: #c4c4c4 1px solid;
    PADDING-LEFT: 5px;

    PADDING-BOTTOM: 5px;

    COLOR: #000;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #c4c4c4 1px solid
}
H6
{
    PADDING-RIGHT: 5px;
    BORDER-TOP: #c4c4c4 1px solid;
    PADDING-LEFT: 5px;

    PADDING-BOTTOM: 5px;

    COLOR: #000;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #c4c4c4 1px solid
}
H7
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    COLOR: #000;
    PADDING-TOP: 5px;
}

IMG
{
    BORDER-RIGHT: 0px;
    PADDING-RIGHT: 0px;
    BORDER-TOP: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: 0px;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: 0px
}

P,PRE,DL
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 10px
}

#wrapper
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    BACKGROUND: #ffffff;
    PADDING-BOTTOM: 10px;
    MARGIN: 0px auto;
    FONT: 80% Verdana, Arial, Helvetica, sans-serif;
    WIDTH: 750px;
    PADDING-TOP: 10px;
    TEXT-ALIGN: left
}

table
{

  
    border:0px;
    PADDING: 5px;
    FONT: 90% Verdana, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: left;
}

th
{
    FONT-weight: bold;
    TEXT-ALIGN: right;
    PADDING: 5px;
    vertical-align: top;
}

td
{
    
    PADDING: 5px;

}


#logo
{
    color: #fff;    
    BACKGROUND: #00b1ea;
    MARGIN: 10px 0px 0px ;
    padding:5px;
    WIDTH: 750px;
    POSITION: relative;

    FONT-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#menu
{
    color: #000;    
    BACKGROUND: #fff;
    MARGIN: 0px 0px 10px ;
    
    WIDTH: 750px;
    POSITION: relative;

    FONT-family: Verdana, Arial, Helvetica, sans-serif;
}

#entry
{
    WIDTH: 750px;
    POSITION: relative;
    padding:5px;
    
}
.inlinelabel {
  float:left;
  width:25%;
  margin-right:.5em;
  margin-bottom:.5em;
  padding-top:0.2em;
  text-align:right;
  /*font-weight: normal;*/
}
#nav
{
    PADDING-RIGHT: 0px;
    BORDER-TOP: #c4c4c4 0px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 750px;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #c4c4c4 0px solid;
    LIST-STYLE-TYPE: none;
    POSITION: relative;
    HEIGHT: 23px
}
#nav LI
{
    FLOAT: left
}
#nav A
{
    BORDER-RIGHT: #c4c4c4 1px solid;
    PADDING-RIGHT: 15px;
    PADDING-LEFT: 0px;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    MARGIN: 7px 0px 7px 15px;
    COLOR: #000;
    PADDING-TOP: 0px
}
#nav A:hover
{
    TEXT-DECORATION: underline
}
#nav A.active
{
    TEXT-DECORATION: underline
}
#nav A.active
{
    COLOR: #59c659;
    TEXT-DECORATION: none
}
#inner-wrapper
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 30px 0px 0px;
    WIDTH: 750px;
    LINE-HEIGHT: 1.4em;
    PADDING-TOP: 0px;
    POSITION: relative
}
#content
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px 0px 0px 0px;
    PADDING-TOP: 0px;
    POSITION: relative
}
#content P
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 0px
}
#links
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    WIDTH: 220px;
    PADDING-TOP: 0px;
    POSITION: relative;
}
#links P
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 5px;
}
#footer
{

    color: #fff;
    BACKGROUND: #00b1ea;
    margin:0px;
    padding: 10px;
    WIDTH: 100%;
    POSITION: relative;
    FONT-family: Verdana, Arial, Helvetica, sans-serif;
    /*font-size: 14pt;*/

}
#footer A
{
    color: #FFF;
}

#productbox
{
    BORDER-RIGHT: #c4c4c4 1px solid;
    PADDING-RIGHT: 2px;
    BORDER-TOP: #c4c4c4 1px solid;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px 10px 20px;
    BORDER-LEFT: #c4c4c4 1px solid;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #c4c4c4 1px solid
}
#productbox #title
{
    BORDER-RIGHT: #c4c4c4 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 0px;
    FONT: bold 11px tahoma;
    BORDER-LEFT: #c4c4c4 1px solid;
    CURSOR: pointer;
    COLOR: #000;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #c4c4c4 1px solid;
    HEIGHT: 23px
}
#productbox #graphic
{
    BORDER-RIGHT: 0px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: 0px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: 0px solid;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: 0px solid
}
#productbox #graphic IMG
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    WIDTH: 210px;
    PADDING-TOP: 0px
}
#productbox #description
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 10px
}
